/* Header */
header {
    background-color: #FDFCF5;
    padding: 20px 50px 20px 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .logo {
    margin-right: auto; /* Pour aligner le logo à gauche */
  }
  
  .nav-elements {
    display: inline-block;
  }
  
  .nav-elements > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 40px;
  }
  
  .nav-elements ul li {
    list-style-type: none; /* Pour supprimer les puces des listes */
    position: relative; /* Pour positionner les sous-menus par rapport à ce li */
  }
  
  .nav-elements ul li a {
    text-decoration: none; /* Pour supprimer le soulignement des liens */
    color: #5B2700; /* Couleur du texte */
    display: block;
    text-align: left;
    padding: 10px;
  }
  
  .nav-elements ul li a:hover{
    color: black;
    text-decoration-color: #5B2700;
  }
  
  .header-button {
    background-color: #FF6D00; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none; /* Suppression de la bordure */
    padding: 10px 20px; /* Espacement interne du bouton */
    border-radius: 5px; /* Bordure arrondie */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  /*Menus déroulants*/
  .dropdown {
    position: relative;
    display: inline-block;
    align-items: baseline;
    justify-content: center;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #FDFCF5;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Ajoute une ombre */
    padding: 12px 16px; /* Ajoute du padding */
    z-index: 1; /* Assure que le menu déroulant est au-dessus des autres éléments */
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    border-bottom: 1px solid #94470E; /* Changez la couleur et l'épaisseur de la bordure selon vos préférences */
    padding: 10px; /* Ajoute du padding aux éléments de la liste */
    transition: background-color 0.2s; /* Ajoute une transition pour l'effet de survol */
  
  }
  .dropdown-menu li:hover {
    background-color: #ddd; /* Change la couleur de fond lors du survol */
  }
  
  .dropdown-menu li:last-child {
    border-bottom: none; /* Supprime la bordure du dernier élément pour éviter une double bordure */
  }
  
  /*FOOTER*/
  footer {
    background-color: #FDFCF5;
    padding: 60px 150px 60px 150px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  
  .card-footer {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .card-footer a, .card-footer p{
    color: #94470E;
    text-decoration: none;
  }
  
  /*MENUs LANDING*/
  .img-bg {
    background-image: url("img/menus_landing_header.png");
    background-size: contain;
    background-repeat: no-repeat;
    top:0;
  }
  
  .meal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .header-container {
    text-align: center;
    width: 80%;
  }
  
  .meal-row {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  
  .meal-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Aligner les éléments de manière égale */
    align-items: flex-start; /* Aligner les éléments sur le côté supérieur */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #94470E;
    margin: 10px;
  }
  
  .meal-text {
    text-align: left;
    color: #94470E;
    padding: 0 50px 20px 10px;
  }
  
  .meal-img img{
    width: 200px;
    height: 250px;
  }
  
  
  /* MEALS CHOICE*/
  
  .days-bar {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  
  .btn-day {
    border: 1px solid #94470E;
    border-radius: 0;
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #FDFCF5;
    color: #94470E;
  }
  
  .btn-day.active {
    background-color: #FF6D00;
    color: #FFFFFF;
  }
  
  .btn-day:active {
    background-color: #FF6D00;
    color: #FFFFFF;
  }
  
  .dish-box {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 30%;
    box-sizing: border-box;
    border: 1px solid #94470E;
    margin: 10px;
    font-size: 14px;
    color: #94470E;
  }
  
  .dish-pic {
    width: 100%;
    margin: 0 auto;
  }
  
  /* planMenu - createMenu - createDish*/
  
  .big-container {
    margin: 0;
    min-width: 80%;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    margin-top: 30px;
  }
  
  .list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 70%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  input#search-bar {
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #cccccc;
    width: 50%;
    display: block;
    margin: 0 auto; /* ceci va centrer l'input */
  }
  
  #selected-menu{
    width: auto;
    max-width: 25%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  /* Tableau d'affichage des mets et menus */
  
  .table-container {
    min-width: 100%;
    display: inline-table;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
  }
  
  thead > tr > th,
  tbody > tr > td{
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  thead > tr > th {
    background-color: floralwhite;
  }
  
  /* Boutons de filtre pour les types de mets*/
  .main-dish-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .dish-type-choice {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centrer verticalement les éléments */
    justify-content: space-around; /* Centrer horizontalement les éléments */
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .btn-type-dish {
    padding: 15px 25px; /* Ajustez la marge pour espacer les boutons */
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    background-color: floralwhite;
    border: 1px solid #94470E; /* Bordure de la même couleur que le fond */
    color: #94470E;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .btn-type-dish:active,
  .btn-type-dish.active{
    background-color: #FF6D00;
    color: #FFFFFF;
    text-align: center;
  }
  
  .dish-type-choice span{
    font-size: 14px;
    margin: 10px;
  }
  
  #createDish-form {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
  
  .list-container-max {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 0;
    padding: 20px 80px 20px 80px;
  }
  
  #registration-form {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  20px;
  }
  
  .no-padding-row {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
  }
  
  .space-div {
    margin-left: 20px;
  }
  
  .meal-text a {
    color: #FF6D00;
    margin-bottom: 20px;
  }
  
  .meal-text a:hover {
    color: #94470E;
    margin-bottom: 20px;
  }
  