/*Typographies*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/*Titles H1, H2, H3, H4*/

h1, h2, h3, h4 {
  font-family: "Merriweather", serif;
  color: #94470E;
  text-align: left;
}

h1 {
  font-size: 28px;
  text-align: center;
  font-weight: 900;
}

h2{
  font-size: 24px;
  color: #FF6D00;
  text-align: center;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 18px;
  color: #FF6D00;
  text-align: center;
}

.p-center {
  text-align: center;
}

h1.h-center,
h2.h-center,
h3.h-center,
h4.h-center {
  text-align: center;
}

/*Messages d'erreur*/
label.text-warning {
  color: red;
  font-size: 14px;
}

/*Body*/
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}


/*Formulaire*/
article {
  width: 40%;
  border-radius: 20px;
  background-color: #FFF;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*DIV*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 100px;
}

/*Formulaire*/

form {
  width: 100%;
  align-content: center;
  display: flex;
  margin : auto;
  flex-direction: column;
}

.form-section {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
}

/*Champs formulaire*/

input.field,
select.field {
  width: 100%;
  border-color: #ccc;
  border-radius: 5px;
  padding: 15px 20px 15px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input.field:not(:placeholder-shown) {
  color: black;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

input[placeholder] {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: #888888;
}

input.field:focus {
  border-color: #FF6D00;
  color: black;
}

select.field {
  padding: 15px 20px 15px 10px;
  border-radius: 5px;
  background-position: calc(100% - 20px) center;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

/* liste adresse*/

#suggestions li {
  cursor: pointer;
  padding: 5px;
}

#suggestions li:hover {
  background-color: darkblue;
  color: white;
}

.restriction-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 10px;
}

.restriction-option input[type="checkbox"] {
  width: 15px; /* Largeur souhaitée */
  height: 15px; /* Hauteur souhaitée */
}

.restriction-option span {
  padding-left: 10px;
  cursor: pointer;
}

/* Boutons */

button {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-top: 20px;
  background: #FF6D00;
  border: none;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none; /* Désactiver le soulignement */
}

button:hover {
  background-color: #F2C94C;
  color: black;
}

/* Landing */
.landing-container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*Hero header*/

.wrapper {
  background: url("../img/accueil.jpg");
  background-size: cover;
  padding: 200px 0 200px 150px;
  margin: auto;
  width: 90%;
}

.hero-header {
  width: 50%;
}

.hero-header h1,
.hero-header p {
  text-align: left;
}

a {
  text-decoration: none;
  color: #FF6D00;
}

.subscribe {
  padding: 15px 30px 15px 30px;
  width: auto;
  max-width: fit-content;
}


  /*SERVICES*/

.services {
  margin: 100px auto 100px auto;

}
.box-container {
  display: flex; /* Afficher les services-box en tant que flexbox */
  justify-content: center;
  padding: 20px;
  flex-direction: row;
  width: auto;

}

.services-box {
  width: calc(33.33% - 30px); /* Ajustement de la largeur des services-box, avec un espace entre elles */
  display: flex; /* Utiliser flexbox pour maintenir la solidarité */
  flex-direction: column; /* Aligner le contenu en colonne */
  align-items: center; /* Centrer le contenu horizontalement */
  text-align: center; /* Centrer le texte */
  margin: 50px; /* Ajouter un espacement externe */
}

.services-box img {
  max-width: 100%; /* Assurer que l'image ne dépasse pas la largeur du conteneur */
}

.services-box h3, .services-box p {
  text-align: center; /* Centrer le texte horizontalement */
}



/*OFFRES ADHESION*/

.offers {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.offer-box {
  background-color: #FFF9C5; /* Définir la couleur de fond orange */
  padding: 20px 30px 40px 30px; /* Ajouter un espacement interne */
  margin: 20px; /* Ajouter un espacement externe */
  border-radius: 20px;
}

.offer-box h3 {
  text-align: center;
}

.peach {
  background-color: #FFB573;
  color: #94470E;
  padding: 15px 30px 15px 30px;
}


/*FONCTIONNEMENT*/
.fonctionnement {
  margin-bottom: 100px;
}

.frames {
  display: flex; /* Afficher les services-box en tant que flexbox */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
}

.frame {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.frame img{
  width: 200px;
  height: 150px;
  border-radius: 20px;
}

/* Image preview */
#image-preview img {
  max-width: 200px; /* Largeur maximale de l'image */
  max-height: 200px; /* Hauteur maximale de l'image */
}
.selected-menu {
  border: 20px solid #FF6D00;
  border-radius: 5px;
  background-color: #FFF9C5;

}

.cart-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 1px solid #ccc;
}

.calendar {
    margin-top: 20px;
    text-align: center;
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.day:hover {
    background-color: #f0f0f0;
}

#selectedDate {
    width: 200px;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
}
/* Image preview */
#image-preview img {
  max-width: 200px; /* Largeur maximale de l'image */
  max-height: 200px; /* Hauteur maximale de l'image */
}

.highlight {
  background-color: #F2C94C; /* Couleur de fond  */
}

